@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Scrollbar */
body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track-piece {
  background-color: #fff;
}

body::-webkit-scrollbar-thumb {
  background-color: #cbcbcb;
  outline: 2px solid #fff;
  outline-offset: -2px;
  border: 0.1px solid #b7b7b7;
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #909090;
  border-radius: 10px;
}

/* Shared Styles */
* {
  margin: 0;
}

.container {
  width: 90%;
  margin: 0rem auto;
  padding-top: 5rem;
}

.btn-primary {
  font-size: 1rem;
  font-weight: bold;
  color: #ffffff;
  background-color: rgba(224, 44, 109, 1);
  padding: 10px 24px;
  border-radius: 41px;
  border: none;
  cursor: pointer;
}

.btn-secondary {
  font-size: 1rem;
  font-weight: bold;
  color: var(--color-senary);
  background-color: #ffffff;
  padding: 10px 24px;
  border: none;
  cursor: pointer;
}

:root {
  --color-primary: rgba(58, 58, 58, 1);
  --color-secondary: rgba(24, 25, 31, 1);
  --color-tertiary: rgba(0, 0, 0, 0.87);
  --color-quaternary: rgba(94, 99, 102, 1);
  --color-quinary: rgba(120, 120, 133, 1);
  --color-senary: rgba(224, 44, 109, 0.87);
  --color-septenary: rgba(10, 8, 38, 1);
  --color-octonary: rgba(108, 108, 108, 1);
  --color-nonary: rgba(217, 219, 225, 1);
}

/* Navbar */
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-options {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 34px;
  cursor: pointer;
}

.nav-bar h3 {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--color-primary);
  cursor: pointer;
}

.nav-options p,
.nav-options i {
  font-size: 1rem;
  font-weight: 600;
  color: var(--color-primary);
}

/* Banner section */
.banner {
  display: flex;
  gap: 8rem;
  justify-content: center;
}

.banner .text-content {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.banner .text-content h1 {
  color: var(--color-primary);
  font-size: 3.25rem;
  font-weight: bold;
  line-height: 4.3rem;
}

.banner .text-content p {
  width: 85%;
  font-size: 1rem;
  font-weight: 600;
  margin: 16px 0;
  color: var(--color-primary);
}

.banner button {
  width: 30%;
}

.image-container {
  position: relative;
  width: 475px;
  height: 475px;
}

.image-container .background-image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.overlay-image {
  top: 25px;
  left: 25px;
  position: absolute;
  width: 430px;
  z-index: 2;
}

/* Partners section */
.partners {
  margin: 5rem auto;
}

/* Popular section */
.popular {
  width: 85%;
}

.popular h1 {
  margin: 0 auto;
  margin-bottom: 0.5rem;
  text-align: center;
  font-size: 1.75rem;
  font-weight: 600;
  color: var(--color-primary);
}

.popular .description {
  color: var(--color-primary);
  font-size: 0.9rem;
  font-weight: 400;
  letter-spacing: 0.1px;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 4rem;
  text-align: center;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  gap: 1.875rem;
}

.card {
  width: 300px;
  height: 442px;
  padding: 20px 17px;
  border-radius: 1rem;
  box-shadow: 0px 0px 10px 5px rgba(128, 128, 128, 0.164);
  margin-bottom: 1.875rem;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.1);
}

.card img {
  width: 300px;
  height: 256px;
  object-fit: cover;
  border-radius: 1rem;
}

.card h2 {
  font-size: 1.75rem;
  font-weight: 500;
  color: var(--color-secondary);
}

.card .price {
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--color-tertiary);
  margin-bottom: 0.5rem;
}

.card .ratings {
  color: lightseagreen;
  margin-bottom: 1.5rem;
}

.card .rating-number {
  color: var(--color-quaternary);
  font-size: 1.14rem;
  font-weight: 700;
  margin-left: 0.5rem;
}

.card .shipping {
  color: var(--color-quinary);
  font-size: 0.8rem;
  font-weight: 400;
}

.btn-below {
  display: flex;
  justify-content: flex-end;
  margin-top: 3.2rem;
}

/* Featured section */
.featured {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6rem;
}

.featured-image-container {
  border-radius: 0.6rem;
}

.featured-text-container {
  width: 50%;
}

.featured-text-container h1 {
  color: var(--color-septenary);
  font-size: 2.3rem;
  font-weight: bold;
}

.featured-text-container p {
  width: 92%;
  color: var(--color-octonary);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3rem;
  letter-spacing: 0.1px;
  margin: 1rem 0;
}

/* Footer section */
footer {
  margin-top: 6.25rem;
  background-color: var(--color-septenary);
}

footer .text-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 5rem;
}

footer h3 {
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: bold;
}

footer p {
  color: var(--color-nonary);
  font-size: 0.875rem;
  font-weight: 500;
  margin: 3px 0;
}

footer .social {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-top: 1rem;
}

footer .social i {
  color: white;
  background-color: var(--color-primary);
  padding: 0.5rem;
  border-radius: 50%;
}

/* Hide content */
.hide {
  display: none;
}

#navbar-icon {
  display: none;
}

/* Media Queries */
@media screen and (max-width: 576px) {
  /* Navbar */
  #navbar-icon {
    display: inline;
  }

  .nav-options p {
    display: none;
  }

  #search-icon {
    display: none;
  }

  .nav-bar {
    padding-top: 2rem;
  }

  /* Banner section */
  .container {
    padding-top: 2rem;
  }

  .banner {
    flex-direction: column-reverse;
    gap: 0;
  }

  .image-container {
    width: 100%;
  }

  .background-image {
    width: 100%;
  }

  .overlay-image {
    width: 100%;
    left: 0;
    top: 40px;
  }

  .banner .text-content {
    width: 100%;
    justify-content: center;
  }

  .banner .text-content h1 {
    font-size: 1.75rem;
    line-height: 2.5rem;
    text-align: center;
  }

  .banner .text-content p {
    width: 100%;
    text-align: center;
    font-size: 0.875rem;
    font-weight: 500;
  }

  .banner button {
    width: 60%;
    margin: 0 auto;
  }

  /* Partners */
  .partners {
    display: none;
  }

  /* Popular */
  .popular {
    width: 90%;
  }

  .popular .description {
    width: 90%;
  }

  .card-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .card:hover {
    transform: scale(1.02);
  }

  /* Featured */
  .featured {
    flex-direction: column-reverse;
    gap: 2rem;
  }

  .featured-text-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .featured-text-container h1 {
    width: 80%;
    font-size: 1.5rem;
  }

  .featured-image-container {
    display: flex;
    justify-content: center;
  }

  .featured-image-container img {
    width: 100%;
  }
}
